* 
{
    margin: 0;
    padding: 0;
    width: 800px;
    height: 600px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
    border: 0;
    user-select: none;
    outline: none;
}

#codeForm
{
    width: 100%;
    height: 500px;
    left: 0;
    top: 100px;
    position: absolute;
    z-index: 10;
}
#code
{
    position: absolute;
    left: 300px;
    top: 100px;
    width: 200px;
    height: 35px;
    background-color: red;
    font-size: 20px;
    z-index: 10;
}
#codeInfo
{
    position: absolute;
    font-size: 40px;
    color: red;
    text-align: center;
    top: 0;
    height: 100px;
    z-index: 10;
}

#conveyor
{
    width: 750px;
    height: 100px;
    position: absolute;
    left: 75px;
    top: 270px;
}

#dispenser
{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 200px;
}
#dispenserButton
{
    width: 100px;
    height: 100px;
    top: 200px;
}

#robux
{
    font-size: 40px;
    color: green;
    position: absolute;
    text-align: center;
    top: 0px;
    left: 310px;
    width: fit-content;
    height: fit-content;
}

#rps
{
    font-size: 20px;
    color: green;
    position: absolute;
    text-align: center;
    top: 45px;
    left: 310px;
    width: fit-content;
    height: fit-content;
}

#tuns
{
    font-size: 20px;
    color: green;
    position: absolute;
    text-align: center;
    top: 30px;
    left: 90px;
    width: fit-content;
    height: fit-content;
}

#tunsLabel
{
    font-size: 10px;
    color: green;
    position: absolute;
    text-align: center;
    top: 19px;
    left: 90px;
    width: fit-content;
    height: fit-content;
}

#away
{
    font-size: 20px;
    color: green;
    position: absolute;
    text-align: center;
    top: 0px;
    height: 80px;
}

#save
{
    position: absolute;
    height: 30px;
    width: 55px;
    left: 25px;
    top: 80px;
    background-color: green;
    transition: all 0.3s;
    font-size: 15px;
}
#save:hover
{
    background-color: rgb(0, 75, 0);
}
#saveTip
{
    font-size: 10px;
    color: red;
    position: absolute;
    left: 5px;
    top: 5px;
    width: fit-content;
    height: fit-content;
}

#reset
{
    position: absolute;
    height: 30px;
    width: 55px;
    left: 25px;
    top: 25px;
    background-color: red;
    transition: all 0.3s;
    font-size: 15px;
}
#reset:hover
{
    background-color: rgb(175, 0, 0);
}

#confrimation
{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#conText
{
    position: absolute;
    font-size: 40px;
    color: red;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: 9;
}
#yes
{
    position: absolute;
    height: 70px;
    width: 70px;
    left: 230px;
    top: 200px;
    background-color: red;
    transition: all 0.3s;
    font-size: 20px;
    visibility: hidden;
    z-index: 9;
}
#yes:hover
{
    background-color: rgb(175, 0, 0);
}
#no
{
    position: absolute;
    height: 70px;
    width: 70px;
    left: 500px;
    top: 200px;
    background-color: red;
    transition: all 0.3s;
    font-size: 20px;
    visibility: hidden;
    z-index: 9;
}
#no:hover
{
    background-color: rgb(175, 0, 0);
}

#click
{
    position: absolute;
    height: 30px;
    width: 55px;
    left: 5px;
    top: 425px;
    background-color: red;
    transition: all 0.3s;
    font-size: 12px;
}
#click:hover
{
    background-color: rgb(175, 0, 0);
}
#click:active
{
    height: 24px;
    width: 44px;
    left: 10px;
    top: 430px;
}
#clickCost
{
    font-size: 15px;
    color: red;
    position: absolute;
    top: 454px;
    left: 5px;
    width: fit-content;
    height: fit-content;
}
#clickRate
{
    font-size: 15px;
    color: red;
    position: absolute;
    top: 400px;
    left: 5px;
    width: fit-content;
    height: fit-content;
}

#noob
{
    position: absolute;
    height: 50px;
    width: 75px;
    left: 100px;
    top: 380px;
    background-color: red;
    transition: all 0.3s;
    font-size: 20px;
}
#noob:hover
{
    background-color: rgb(175, 0, 0);
}
#noob:active
{
    height: 43px;
    width: 65px;
    left: 105px;
    top: 385px;
}
#noobCost
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 430px;
    left: 100px;
    width: fit-content;
    height: fit-content;
}
#noobAmount
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 395px;
    left: 180px;
    width: fit-content;
    height: fit-content;
}
#noobRate
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 350px;
    left: 100px;
    width: fit-content;
    height: fit-content;
}

#rman
{
    position: absolute;
    height: 50px;
    width: 75px;
    left: 100px;
    top: 500px;
    background-color: red;
    transition: all 0.3s;
    font-size: 20px;
}
#rman:hover
{
    background-color: rgb(175, 0, 0);
}
#rman:active
{
    height: 43px;
    width: 65px;
    left: 105px;
    top: 505px;
}
#rmanCost
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 550px;
    left: 100px;
    width: fit-content;
    height: fit-content;
}
#rmanAmount
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 515px;
    left: 180px;
    width: fit-content;
    height: fit-content;
}
#rmanRate
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 470px;
    left: 100px;
    width: fit-content;
    height: fit-content;
}

#card
{
    position: absolute;
    height: 50px;
    width: 75px;
    left: 300px;
    top: 380px;
    background-color: red;
    transition: all 0.3s;
    font-size: 15px;
}
#card:hover
{
    background-color: rgb(175, 0, 0);
}
#card:active
{
    height: 43px;
    width: 65px;
    left: 305px;
    top: 385px;
}
#cardCost
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 430px;
    left: 300px;
    width: fit-content;
    height: fit-content;
}
#cardAmount
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 395px;
    left: 380px;
    width: fit-content;
    height: fit-content;
}
#cardRate
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 350px;
    left: 300px;
    width: fit-content;
    height: fit-content;
}

#jail
{
    position: absolute;
    height: 50px;
    width: 75px;
    left: 300px;
    top: 500px;
    background-color: red;
    transition: all 0.3s;
    font-size: 18px;
}
#jail:hover
{
    background-color: rgb(175, 0, 0);
}
#jail:active
{
    height: 43px;
    width: 65px;
    left: 305px;
    top: 505px;
}
#jailCost
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 550px;
    left: 300px;
    width: fit-content;
    height: fit-content;
}
#jailAmount
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 515px;
    left: 380px;
    width: fit-content;
    height: fit-content;
}
#jailRate
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 470px;
    left: 300px;
    width: fit-content;
    height: fit-content;
}

#shark
{
    position: absolute;
    height: 50px;
    width: 75px;
    left: 500px;
    top: 380px;
    background-color: red;
    transition: all 0.3s;
    font-size: 20px;
}
#shark:hover
{
    background-color: rgb(175, 0, 0);
}
#shark:active
{
    height: 43px;
    width: 65px;
    left: 505px;
    top: 385px;
}
#sharkCost
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 430px;
    left: 500px;
    width: fit-content;
    height: fit-content;
}
#sharkAmount
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 395px;
    left: 580px;
    width: fit-content;
    height: fit-content;
}
#sharkRate
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 350px;
    left: 500px;
    width: fit-content;
    height: fit-content;
}

#ds
{
    position: absolute;
    height: 50px;
    width: 75px;
    left: 500px;
    top: 500px;
    background-color: red;
    transition: all 0.3s;
    font-size: 20px;
}
#ds:hover
{
    background-color: rgb(175, 0, 0);
}
#ds:active
{
    height: 43px;
    width: 65px;
    left: 505px;
    top: 505px;
}
#dsCost
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 550px;
    left: 500px;
    width: fit-content;
    height: fit-content;
}
#dsAmount
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 515px;
    left: 580px;
    width: fit-content;
    height: fit-content;
}
#dsRate
{
    font-size: 20px;
    color: red;
    position: absolute;
    top: 470px;
    left: 500px;
    width: fit-content;
    height: fit-content;
}

#floor2
{
    position: absolute;
    height: 50px;
    width: 75px;
    left: 700px;
    top: 380px;
    background-color: green;
    transition: all 0.3s;
    font-size: 20px;
}
#floor2:hover
{
    background-color: rgb(0, 75, 0);
}
#floor2:active
{
    height: 43px;
    width: 65px;
    left: 705px;
    top: 385px;
}